<div class="page col-md-8 col-md-offset-2">


	<div class="courses">
    <h1 align="center"><strong>ENSC 388 Engineerimg Thermodynamics and Heat Transfer</strong></h1>
      <ul>
        <li><a href="ENSC 388/ENSC 388 Outline_Fall 2011.pdf" target="_blank">Course 
          Outline</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Course 
          spreadsheet (marks)</li>
      </ul>
      <ul>
        <li>Important Dates: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Midterm: 
          Monday, Oct. 24th; Room # 3170; Time: 10:30 to 12:30<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Final 
          Exam: Thursday, Dec. 15th, Room #: TBA; Time: 12:00 to 3:00 pm.</li>
      </ul>
      <ul>
        <li>
          <p>Laboratory instructions. <a href="ENSC%20388/Lab/Lab%20Template1.docx" target="_blank">Lab 
            report template</a><br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            Exp. 1: <a href="ENSC%20388/Lab/Experiment%201/ENSC%20388%20Lab%20Instruction_Experiment%201_Fundamentals%20of%20Temp%20and%20Press%20Measurements.pdf" target="_blank">Fundamentals 
              of Temperature and Pressure Measurements</a>, <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Exp. 
            2: <a href="ENSC%20388/Lab/Experimrnt%202/Vapor%20Compression%20Refrigeration%20Cycle.pdf" target="_blank">Vapor 
              Compression Refrigeration Cycle</a><br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Exp. 
            3: <a href="ENSC%20388/Lab/Experiment%203/Free%20and%20Forced%20Convection.pdf" target="_blank">Free 
              and Forced Convection</a></p>
        </li>
      </ul>
      <ul>
        <li>
          <p>Project 
            1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Due 
            date: Monday, November 4th</p>
        </li>
        <li>
          <p>Project 
            2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Due 
            date: Friday, December 2nd</p>
        </li>
        <li>
          <p>Field trip: TBA.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </li>
      </ul>
      <p>&nbsp;</p>
      <table width="93%" border="1">
        <!--DWLayoutTable-->
        <tbody>
          <tr>
            <td width="151" height="42" valign="top"><div align="center"><strong>Lecture 
              Notes</strong></div></td>
            <td width="60" valign="top"><div align="center"><strong>Tutorials</strong></div></td>
            <td width="290" valign="top"><div align="center"><strong>Suggested Problems</strong></div></td>
            <td width="85" valign="top"><div align="center"><strong> Assignments</strong></div></td>
            <td width="52" valign="top"><div align="center"><strong>Misc.</strong></div></td>
          </tr>
          <tr>
            <td height="61" valign="top"><p><a href="ENSC%20388/Notes/Intro%20and%20Basic%20Concepts.pdf" target="_blank">Introduction 
              and Basic Concept</a></p></td>
            <td valign="top"><div align="center">
              <p><a href="ENSC%20388/Tutorials/T1/T1.pdf" target="_blank">T1</a></p>
            </div></td>
            <td valign="top"><p align="left"><a href="ENSC%20388/Suggested%20Problems/Chapter%202/ENSC388_P2_72.pdf" target="_blank">2-72</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%202/ENSC388_P2_80.pdf" target="_blank">2-80</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%202/ENSC388_P2_82.pdf" target="_blank">2-82</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%202/ENSC388_P2_91.pdf" target="_blank">2-91</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%202/ENSC388_P2_91.pdf" target="_blank">2-92</a>.</p>
              <p align="left">&nbsp;</p></td>
            <td valign="top"><div align="center">
              <p align="center"><a href="ENSC%20388/Assignments/A1/Assignment1_Problems.pdf" target="_blank">A1</a> _<a href="ENSC%20388/Assignments/A1/Assignment1_Solutions.pdf" target="_blank">Sol</a> </p>
              <p align="center">&nbsp;</p>
            </div></td>
            <td valign="top"><p>&nbsp;</p></td>
          </tr>
          <tr>
            <td height="72" valign="top"><a href="ENSC%20388/Notes/Properties%20of%20Pure%20Substances.pdf" target="_blank">Properties 
              of Pure Substance</a></td>
            <td valign="top"><div align="center"><a href="ENSC%20388/Tutorials/T2/T2.pdf" target="_blank">T2</a></div></td>
            <td valign="top"><a href="ENSC%20388/Suggested%20Problems/Chapter%204/ENSC%20388_P4_31.pdf" target="_blank">4-31</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%204/ENSC%20388_P4_51.pdf" target="_blank">4-51</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%204/ENSC%20388_P4_58.pdf" target="_blank">4-58</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%204/ENSC%20388_P4_61.pdf" target="_blank">4-61</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%204/ENSC%20388_P4_63.pdf" target="_blank">4-63</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%204/ENSC%20388_P4_64.pdf" target="_blank">4-64</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%204/ENSC%20388_P4_75.pdf" target="_blank">4-75</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%204/ENSC%20388_P4_80.pdf" target="_blank">4-80</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%204/ENSC%20388_P4_94.pdf" target="_blank">4-94</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%204/ENSC%20388_P4_102.pdf" target="_blank">4-102</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%204/ENSC%20388_P4_108.pdf" target="_blank">4-108</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%204/ENSC%20388_P4_108.pdf" target="_blank">4-109</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%204/ENSC%20388_P4_111.pdf" target="_blank">4-111</a>,<a href="ENSC%20388/Suggested%20Problems/Chapter%204/ENSC%20388_P4_115.pdf" target="_blank">4-115</a>.</td>
            <td valign="top"><div align="center"><a href="ENSC%20388/Assignments/A2/Assignment2_Problem.pdf" target="_blank">A2</a> _ <a href="ENSC%20388/Assignments/A2/Assignment2_Solution.pdf" target="_blank">Sol</a></div></td>
            <td valign="top"><p>&nbsp;</p></td>
          </tr>
          <tr>
            <td height="77" valign="top"><a href="ENSC%20388/Notes/First%20Law%20of%20Thermodynamics_Closed%20Systems.pdf" target="_blank">First 
              Law of Thermodynamics:<br />
              Closed Systems</a></td>
            <td valign="top"><div align="center"><a href="ENSC%20388/Tutorials/T3/Tutorial3_%20Energy%20Analysis_Closed%20Systems.pdf" target="_blank">T3</a></div></td>
            <td valign="top"><a href="ENSC%20388/Suggested%20Problems/Chapter%203/ENSC%20388_P3_50.pdf" target="_blank">3-50</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%203/ENSC%20388_P3_53.pdf" target="_blank">3-53</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%203/ENSC%20388_P3_104.pdf" target="_blank">3-104</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%203/ENSC%20388_P3_106.pdf" target="_blank">3-106</a>, <br />
              <a href="ENSC%20388/Suggested%20Problems/Chapter%205/ENSC%20388_P5_35.pdf" target="_blank">5-35</a>,&nbsp;<a href="ENSC%20388/Suggested%20Problems/Chapter%205/ENSC%20388_P5_39.pdf" target="_blank">5-39</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%205/ENSC%20388_P5_42.pdf" target="_blank">5-42</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%205/ENSC%20388_P5_46.pdf" target="_blank">5-46</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%205/ENSC%20388_P5_67.pdf" target="_blank">5-67</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%205/ENSC%20388_P5_72.pdf" target="_blank">5-72</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%205/ENSC%20388_P5_84.pdf" target="_blank">5-84</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%205/ENSC%20388_P5_91.pdf" target="_blank">5-91</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%205/ENSC%20388_P5_105.pdf" target="_blank">5-105</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%205/ENSC%20388_P5_119.pdf" target="_blank">5-119</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%205/ENSC%20388_P5_123.pdf" target="_blank">5-123</a></td>
            <td valign="top"><div align="center"><a href="ENSC%20388/Assignments/A3/Assignment3_Problems.pdf" target="_blank">A3</a> _<a href="ENSC%20388/Assignments/A3/Assignment3_Solution.pdf" target="_blank">Sol</a></div></td>
            <td valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
          </tr>
          <tr>
            <td height="78" valign="top"><a href="ENSC%20388/Notes/First%20Law%20of%20Thermodynamics_Control%20Volumes.pdf" target="_blank">First 
              Law of Thermodynamics: <br />
              Control Volume</a></td>
            <td valign="top"><div align="center"><a href="ENSC%20388/Tutorials/T4/T4.pdf" target="_blank">T4</a></div></td>
            <td valign="top"><a href="ENSC%20388/Suggested%20Problems/Chapter%206/ENSC%20388_P6_13.pdf" target="_blank">6-13</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%206/ENSC%20388_P6_34.pdf" target="_blank">6-34</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%206/ENSC%20388_P6_52.pdf" target="_blank">6-52</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%206/ENSC%20388_P6_58.pdf" target="_blank">6-58</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%206/ENSC%20388_P6_63.pdf" target="_blank">6-63</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%206/ENSC%20388_P6_69.pdf" target="_blank">6-69</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%206/ENSC%20388_P6_78.pdf" target="_blank">6-78</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%206/ENSC%20388_P6_84.pdf" target="_blank">6-84</a>,<br />
              <a href="ENSC%20388/Suggested%20Problems/Chapter%206/ENSC%20388_P6_85.pdf" target="_blank">6-85</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%206/ENSC%20388_P6_90.pdf" target="_blank">6-90</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%206/ENSC%20388_P6_97.pdf" target="_blank">6-97</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%206/ENSC%20388_P6_108.pdf" target="_blank">6-108</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%206/ENSC%20388_P6_122.pdf" target="_blank">6-122</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%206/ENSC%20388_P6_151.pdf" target="_blank">6-151</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%206/ENSC%20388_P6_163.pdf" target="_blank">6-163</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%206/ENSC%20388_P6_167.pdf" target="_blank">6-167</a></td>
            <td valign="top"><div align="center"><a href="ENSC%20388/Assignments/A4/Assignment4_Problems.pdf" target="_blank">A4</a> _<a href="ENSC%20388/Assignments/A4/Assignment4_solutions.pdf" target="_blank">Sol</a></div></td>
            <td valign="top"><a href="ENSC%20388/Quiz/Q1/Quiz%201.pdf" target="_blank">Pop 
              Quiz 1</a></td>
          </tr>
          <tr>
            <td height="60" valign="top"><a href="ENSC%20388/Notes/Second%20Law%20of%20Thermodynamics.pdf" target="_blank">Second 
              Law of Thermodynamics</a></td>
            <td valign="top"><div align="center"><a href="ENSC%20388/Tutorials/T5/T5.pdf" target="_blank">T5</a></div></td>
            <td valign="top"><a href="ENSC%20388/Suggested%20Problems/Chapter%207/P7_29.pdf" target="_blank">7-29</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%207/P7_47.pdf" target="_blank">7-47</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%207/P7_56.pdf" target="_blank">7-56</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%207/P7_58.pdf" target="_blank">7-58</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%207/P7_60.pdf" target="_blank">7-60</a>,<a href="ENSC%20388/Suggested%20Problems/Chapter%207/P7_84.pdf" target="_blank"> 7-84</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%207/P7_88.pdf" target="_blank">7-88</a>,<a href="ENSC%20388/Suggested%20Problems/Chapter%207/P7_106.pdf" target="_blank"> 7-106</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%207/P7_111.pdf" target="_blank">7-111</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%207/P7_117.pdf" target="_blank">7-117</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%207/P7_122.pdf" target="_blank">7-122</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%207/P7_135.pdf" target="_blank">7-135</a></td>
            <td valign="top"><div align="center"><a href="ENSC%20388/Assignments/A5/Assignment5_Problems.pdf" target="_blank">A5</a> _<a href="ENSC%20388/Assignments/A5/Assignment5_Solutions.docx.pdf" target="_blank">Sol</a></div></td>
            <td valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
          </tr>
          <tr>
            <td height="58" valign="top"><a href="ENSC%20388/Notes/Entropy.pdf" target="_blank">Entropy</a></td>
            <td valign="top"><div align="center"><a href="ENSC%20388/Tutorials/T6/Tutorial_6%96%20Entropy.pdf" target="_blank">T6</a></div></td>
            <td valign="top"><a href="ENSC%20388/Suggested%20Problems/Chapter%208/P8_39.pdf">8,39</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%208/P8_52.pdf" target="_blank">8-52</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%208/P8_60.pdf" target="_blank">8-60</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%208/P8_73.pdf" target="_blank">8-73</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%208/P8_92.pdf" target="_blank">8-92</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%208/P8_99.pdf" target="_blank">8-99</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%208/P8_101.pdf" target="_blank">8-101</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%208/P8_115.pdf" target="_blank">8-115</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%208/P8_150.pdf" target="_blank">8-150</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%208/P8_158.pdf" target="_blank">8-158</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%208/P8_167.pdf" target="_blank">8-167</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%208/P8_168.pdf" target="_blank">8-168</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%208/P8_181.pdf" target="_blank">8-181</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%208/P8_183.pdf" target="_blank">8-183</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%208/P8_189.pdf" target="_blank">8-189</a></td>
            <td valign="top"><div align="center"><a href="ENSC%20388/Assignments/A6/Assignment6_problems.pdf" target="_blank">A6</a> _<a href="ENSC%20388/Assignments/A6/Assignment6_solutions.pdf" target="_blank">Sol</a></div></td>
            <td valign="top"><a href="ENSC%20388/Notes/Solving%20Thermodynamics%20Problems.pdf" target="_blank">Some 
              Tips</a></td>
          </tr>
          <tr>
            <td height="65" valign="top"><a href="ENSC%20388/Notes/Staedy%20Conduction%20Heat%20Transfer.pdf" target="_blank">Steady 
              Conduction Heat Transfer</a></td>
            <td valign="top"><div align="center"><a href="ENSC%20388/Tutorials/T7/T7.pdf">T7</a></div></td>
            <td valign="top"><a href="ENSC%20388/Suggested%20Problems/Chapter%2010/P10-30.pdf" target="_blank">10-30</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2010/P10-36.pdf" target="_blank">10-36</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2010/P10-38.pdf" target="_blank">10-38</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2010/P10-47.pdf" target="_blank">10-47</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2010/P10-59.pdf" target="_blank">10-59</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2010/P10-65.pdf" target="_blank">10-65</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2010/P10-71.pdf" target="_blank">10-71</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2010/P10-85.pdf" target="_blank">10-85</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2010/P10-92.pdf" target="_blank">10-92</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2010/P10-117.pdf" target="_blank">10-117</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2010/P10-123.pdf">10-123</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2010/P10-151.pdf" target="_blank">10-151</a>, </td>
            <td valign="top"><div align="center"><a href="ENSC%20388/Assignments/A7/Assignment%207_problems.pdf" target="_blank">A7</a> _ <a href="ENSC%20388/Assignments/A7/Assignment%207_solutions.pdf" target="_blank">Sol</a></div></td>
            <td valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
          </tr>
          <tr>
            <td height="82" valign="top"><a href="ENSC%20388/Notes/Transient%20Heat%20Conduction.pdf" target="_blank">Transient 
              Conduction Heat Transfer</a></td>
            <td valign="top"><div align="center"><a href="ENSC%20388/Tutorials/T8/T8.pdf" target="_blank">T8</a></div></td>
            <td valign="top"><a href="ENSC%20388/Suggested%20Problems/Chapter%2011/P%2011_17.pdf" target="_blank">11-17</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2011/P%2011_19.pdf" target="_blank">11-19</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2011/P%2011_22.pdf" target="_blank">11-22</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2011/P%2011_37.pdf" target="_blank">11-37</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2011/P%2011_41.pdf" target="_blank">11-41</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2011/P%2011_44.pdf" target="_blank">11-44</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2011/P%2011_50.pdf" target="_blank">11-50</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2011/P%2011_57.pdf" target="_blank">11-57</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2011/P%2011_73.pdf" target="_blank">11-73 </a></td>
            <td valign="top"><div align="center"><a href="ENSC%20388/Assignments/A8/Assignment%208_problems.pdf" target="_blank">A8</a> _<a href="ENSC%20388/Assignments/A8/Assignment%208_solutions.pdf" target="_blank">Sol</a></div></td>
            <td valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
          </tr>
          <tr>
            <td height="55" valign="top"><a href="ENSC%20388/Notes/Forced%20Convection.pdf" target="_blank">Forced 
              Convection Heat Transfer</a></td>
            <td valign="top"><div align="center"><a href="ENSC%20388/Tutorials/T9/T9.pdf" target="_blank">T9</a></div></td>
            <td valign="top"><a href="ENSC%20388/Suggested%20Problems/Chapter%2012/P12_41.pdf" target="_blank">12-41</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2012/P12_46.pdf" target="_blank">12-46</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2012/P12_51.pdf" target="_blank">12-51</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2012/P12_59.pdf" target="_blank">12-59</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2012/P12_72.pdf" target="_blank">12-72</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2012/P12_80.pdf" target="_blank">12-80</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2012/P12_85.pdf" target="_blank">12-85</a></td>
            <td valign="top"><div align="center"><a href="ENSC%20388/Assignments/A9/Assignment%209_problems.pdf" target="_blank">A9</a> _<a href="ENSC%20388/Assignments/A9/Assignment%209_Solutions.pdf" target="_blank">Sol</a></div></td>
            <td valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
          </tr>
          <tr>
            <td height="70" valign="top"><a href="ENSC%20388/Notes/Natural%20Convection.pdf" target="_blank">Natural 
              Convection Heat Transfer</a></td>
            <td valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
            <td valign="top"><a href="ENSC%20388/Suggested%20Problems/Chapter%2014/P14_24.pdf" target="_blank">14-24</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2014/P14_29.pdf" target="_blank">14-29</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2014/P14_37.pdf" target="_blank">14-37</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2014/P14_56.pdf" target="_blank">14-56</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2014/P14_67.pdf" target="_blank">14-67</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2014/P14_72.pdf" target="_blank">14-72</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2014/P14_76.pdf" target="_blank">14-76</a>, <a href="ENSC%20388/Suggested%20Problems/Chapter%2014/P14_100.pdf" target="_blank">14-100</a></td>
            <td valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
            <td valign="top"><a href="ENSC%20388/Quiz/Q2/Quiz%202_solution.pdf" target="_parent">Pop Quiz 
              2</a></td>
          </tr>
        </tbody>
      </table>
<p align="left"><a href="teaching.html">Return to home</a>      </p>
 <p align="left"><font size="2">last updated: Sep. 6, 2011.</font> </p>
</div>
<div id="footer">
      <p><span class="style3">©  2013 Dr. M. Bahrami. Laboratoy for Alternative Energy Conversion. Simon Fraser University.</span></p>
    </div>
      
  </div>
  <div class="clr"></div>
<!--end Wrapper--></div>
<!--end Page--></div>

