<div class="page col-md-8 col-md-offset-2">
<div id="wrapper">
	<div class="courses">
    <h1 align="center"><strong>ENSC 283: Introduction to Fluid Mechanics</strong></h1>
       <ul>
         <li><a href="ENSC%20283/ENSC%20283%20Outline.pdf" target="_blank">Course 
           Outline</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
       </ul>
       <ul>
         <li>Important Dates: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Midterm: 
           Feb. 11, Friday 12:30 to 3:00 pm, Rooms: 5360 and 5380.<br />
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Final 
           Exam: Sat. April 23, 2011, 3:30-6:00 pm. Location: TBA</li>
       </ul>
       <ul>
         <li> Laboratory instructions: <a href="ENSC%20283/Lab/Lab%20Template1.docx" target="_blank">Lab 
           report template</a></li>
       </ul>
       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="ENSC%20283/Lab/Center%20of%20Pressure%20and%20Hydrostatic%20Force%20on%20a%20submerged%20body-Rev.pdf" target="_blank">Hydrostatic</a>,<a href="ENSC%20283/Lab/Buoyancy%20and%20Stability%20of%20a%20Floating%20Body.pdf" target="_blank"> Buoyancy</a>, <a href="ENSC%20283/Lab/The%20Energy%20Equation%20in%20a%20Venturi%20Tube-1.pdf" target="_blank">Venturi 
         tube</a>, <a href="ENSC%20283/Lab/Friction%20and%20minor%20losses%20in%20pipes.pdf" target="_blank">Friction 
           and minor losses in pipes</a></p>
       <ul>
         <li>
           <p><a href="ENSC%20283/Project/Wind%20turbine_project%202011.pdf" target="_blank">Project</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Due 
             date: April 8, 2011.</p>
         </li>
         <li>
           <p>Field trip: TBA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
         </li>
       </ul>
       <p>&nbsp;</p>
       <table width="1000" border="1">
         <!--DWLayoutTable-->
         <tbody>
           <tr>
             <td width="94" height="42" valign="top"><div align="center"><strong>Lecture 
               Notes</strong></div></td>
             <td width="60" valign="top"><div align="center"><strong>Tutorials</strong></div></td>
             <td width="213" valign="top"><div align="center"><strong>Suggested Problems</strong></div></td>
             <td width="85" valign="top"><div align="center"><strong> Assignments</strong></div></td>
             <td width="106" valign="top"><strong>Lecture Presentations</strong></td>
             <td width="74" valign="top"><div align="center"><strong>Misc.</strong></div></td>
           </tr>
           <tr>
             <td height="80" valign="top"><p><a href="ENSC%20283/Notes/Intro%20and%20Fluid%20Properties.pdf" target="_blank">Introduction 
               and Fluid Properties</a></p>
               <p>&nbsp;</p></td>
             <td valign="top"><div align="center">
               <p><a href="ENSC%20283/Tutorials/T1/T1.pdf" target="_blank">T1</a></p>
             </div></td>
             <td valign="top"><p align="left"><a href="ENSC%20283/Suggested%20Problems/Chapter%201/fluid%20mech_1.12.pdf" target="_blank">1.12</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%201/fluid%20mech_1.38.pdf" target="_blank">1.38</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%201/fluid%20mech_1.45.pdf" target="_blank">1.45</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%201/fluid%20mech_1.48.pdf" target="_blank">1.48</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%201/fluid%20mech_1.51.pdf" target="_blank">1.51</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%201/fluid%20mech_1.54.pdf" target="_blank">1.54</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%201/fluid%20mech_1.70.pdf" target="_blank">1.70</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%201/fluid%20mech_1.80.pdf" target="_blank">1.80</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%201/fluid%20mech_C1.3.pdf" target="_blank">C1.3</a></p></td>
             <td valign="top"><div align="center">
               <p align="center"><a href="ENSC%20283/Assignments/A1/Assignment1_Problems.pdf" target="_blank">A1</a> <a href="ENSC%20283/Assignments/A1/Assignment1_solution.pdf" target="_blank">_Sol</a> </p>
               <p align="center">&nbsp;</p>
             </div></td>
             <td valign="top"><a href="ENSC%20283/Lecture%20presentations/Fluid%20properties.pdf" target="_blank">Introduction 
               and Fluid Properties</a></td>
             <td valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
           </tr>
           <tr>
             <td height="80" valign="top"><p><a href="ENSC%20283/Notes/Fluid%20Statics.pdf" target="_blank">Fluid 
               Statics</a></p>
               <p><a href="ENSC%20283/Notes/Buoyancy.pdf" target="_blank">Buoyancy</a></p></td>
             <td valign="top"><div align="center">
               <p><a href="ENSC%20283/Tutorials/T2/T2.pdf">T2</a></p>
               <p><a href="ENSC%20283/Tutorials/T3/T3.pdf" target="_blank">T3</a></p>
             </div></td>
             <td valign="top"><a href="ENSC%20283/Suggested%20Problems/Chapter%202/White_P2_21.pdf" target="_blank">2.21</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%202/White_P2_23.pdf" target="_blank">2.23</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%202/White_P2_36.pdf" target="_blank">2.36</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%202/White_P2_44.pdf" target="_blank">2.44</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%202/White_P2_51.pdf" target="_blank">2.51</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%202/White_P2_59.pdf" target="_blank">2.59</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%202/White_P2_61.pdf" target="_blank">2.61</a>, <br />
               <a href="ENSC%20283/Suggested%20Problems/Chapter%202/White_P2_84.pdf" target="_blank">2.84</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%202/White_P2_91.pdf" target="_blank">2.91</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%202/White_P2_94.pdf" target="_blank">2.94</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%202/White_P2_105.pdf" target="_blank">2.105</a><br />
               <a href="ENSC%20283/Suggested%20Problems/Chapter%202/White_P2_114.pdf" target="_blank">2.114</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%202/White_P2_121.pdf" target="_blank">2.121</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%202/White_P2_139.pdf" target="_blank">2.139</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%202/White_P2_159.pdf" target="_blank">2.159</a></td>
             <td valign="top"><div align="center">
               <p><a href="ENSC%20283/Assignments/A2/Assignment2_problem.pdf" target="_blank">A2</a> <a href="ENSC%20283/Assignments/A2/Assignment2_solution.pdf" target="_blank">_Sol</a> </p>
               <p><a href="ENSC%20283/Assignments/A3/Assignment3_Problems.pdf" target="_blank">A3</a> _<a href="ENSC%20283/Assignments/A3/Assignment3_Solutions.pdf" target="_blank">Sol </a></p>
               <p>&nbsp;</p>
             </div></td>
             <td valign="top"><p><a href="ENSC%20283/Lecture%20presentations/Fluid%20statics.pdf" target="_blank">Fluid 
               Statics</a></p>
               <p><a href="ENSC%20283/Lecture%20presentations/Buoyancy.pdf" target="_blank">Buoyancy</a></p></td>
             <td valign="top"><p><a href="ENSC%20283/Quiz1/Quiz%201.pdf" target="_blank">Pop 
               quiz 1</a></p>
               <p><a href="ENSC%20283/Notes/Archimedes%20and%20the%20Kings%20Crown.pdf" target="_blank">Archimedes</a></p></td>
           </tr>
           <tr>
             <td height="80" valign="top"><p><a href="ENSC%20283/Notes/Integral%20Relations%20for%20CV_Part%201.pdf" target="_blank">Intergral 
               Relations for CV_1</a></p>
               <p><a href="ENSC%20283/Notes/Integral%20Relations%20for%20CV_Part%202.pdf" target="_blank">Integral 
                 Relations for CV_2</a></p></td>
             <td valign="top"><div align="center">
               <p><a href="ENSC%20283/Tutorials/T4/T4.pdf" target="_blank">T4</a></p>
               <p><a href="ENSC%20283/Tutorials/T5/T5.pdf" target="_blank">T5</a></p>
             </div></td>
             <td valign="top"><a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.12.pdf" target="_blank">3.12</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.16.pdf" target="_blank">3.16</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.19.pdf" target="_blank">3.19</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.24.pdf" target="_blank">3.24</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.26.pdf" target="_blank">3.26</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.31.pdf" target="_blank">3.31</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.35.pdf" target="_blank">3.35</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.42.pdf" target="_blank">3.42</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.44.pdf" target="_blank">3.44</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.51.pdf" target="_blank">3.51</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.54.pdf" target="_blank">3.54</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.58.pdf" target="_blank">3.58</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.67.pdf" target="_blank">3.67</a>,<a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.73.pdf" target="_blank">3.73</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.75.pdf" target="_blank">3.75</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.90.pdf" target="_blank">3.90</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.114.pdf" target="_blank">3.114</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.123.pdf" target="_blank">3.123</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.130.pdf" target="_blank">3.130</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.135.pdf" target="_blank">3.135</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.138.pdf" target="_blank">3.138</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.144.pdf" target="_blank">3.144</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.151.pdf" target="_blank">3.151</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.155.pdf" target="_blank">3.155</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.160.pdf" target="_blank">3.160</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.160.pdf" target="_blank">3.161</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.165.pdf" target="_blank">3.165</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.173.pdf" target="_blank">3.173</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.180.pdf" target="_blank">3.180</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%203/White_6th%20ed_3.184.pdf" target="_blank">3.184</a></td>
             <td valign="top"><div align="center">
               <p><a href="ENSC%20283/Assignments/A4/Assignment4_Problems.pdf" target="_blank">A4</a> <a href="ENSC%20283/Assignments/A4/Assignment4_solution.pdf" target="_blank">Sol</a></p>
               <p><a href="ENSC%20283/Assignments/A5/Assignment5_Problems.pdf" target="_blank">A5</a> _<a href="ENSC%20283/Assignments/A5/Assignment5_Solution.pdf" target="_blank">Sol </a></p>
               <p><a href="ENSC%20283/Assignments/A6/Assignment6_Problem.pdf" target="_blank">A6</a> _<a href="ENSC%20283/Assignments/A6/Assignment6_Solution.pdf" target="_blank">Sol</a> </p>
             </div></td>
             <td valign="top"><p><a href="ENSC%20283/Lecture%20presentations/Integral%20relationships%20for%20CV_Part1.pdf" target="_blank">Integral 
               Relations for CV_1</a></p>
               <p><a href="ENSC%20283/Lecture%20presentations/Integral%20relationships%20for%20CV_Part2.pdf" target="_blank">Integral 
                 Relations for CV_2</a></p></td>
             <td valign="top"><p>&nbsp;</p>
               <p><a href="ENSC%20283/Previous%20exams/Midterm%20F09-solution.pdf" target="_blank">Sample 
                 midterm</a></p></td>
           </tr>
           <tr>
             <td height="69" valign="top"><a href="ENSC%20283/Notes/Differential%20Relations%20for%20Fluid%20Flow.pdf" target="_blank">Differential 
               Relations for Fluid Flow</a></td>
             <td valign="top"><div align="center">
               <p><a href="ENSC%20283/Tutorials/T6/T6.pdf" target="_blank">T6</a></p>
               <p>&nbsp;</p>
               <p>&nbsp;</p>
             </div></td>
             <td valign="top"><a href="ENSC%20283/Suggested%20Problems/Chapter%204/White_Ed%206_P4.7.pdf" target="_blank">4.7</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%204/White_Ed%206_P4.10.pdf" target="_blank">4.10</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%204/White_Ed%206_P4.17.pdf" target="_blank">4.17</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%204/White_Ed%206_P4.23.pdf" target="_blank">4.23</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%204/White_Ed%206_P4.26.pdf" target="_blank">4.26</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%204/White_Ed%206_P4.35.pdf" target="_blank">4.35</a>,<br />
               <a href="ENSC%20283/Suggested%20Problems/Chapter%204/White_Ed%206_P4.41.pdf" target="_blank">4.41</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%204/White_Ed%206_P4.82.pdf" target="_blank">4.82</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%204/White_Ed%206_P4.87.pdf" target="_blank">4.87</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%204/White_Ed%206_P4.94.pdf" target="_blank">4.94</a></td>
             <td valign="top"><div align="center">
               <p><a href="ENSC%20283/Assignments/A7/Assignment7_Problem.pdf" target="_blank">A7</a></p>
               <p><a href="ENSC%20283/Assignments/A7/Assignment7_solutions.pdf" target="_blank">A7_Sol</a></p>
             </div></td>
             <td valign="top"><a href="ENSC%20283/Lecture%20presentations/Differential%20relationships%20for%20fluid%20flow.pdf" target="_blank">Differential 
               Relations for Fluid Flow</a></td>
             <td valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
           </tr>
           <tr>
             <td height="75" valign="top"><a href="ENSC%20283/Notes/Viscous%20Flow%20in%20Ducts.pdf" target="_blank">Viscous 
               flow in ducts</a></td>
             <td valign="top"><div align="center">
               <p><a href="ENSC%20283/Tutorials/T7/T7.pdf" target="_blank">T7</a></p>
               <p><a href="ENSC%20283/Tutorials/T8/T8.pdf" target="_blank">T8</a></p>
             </div></td>
             <td valign="top"><a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.4.pdf" target="_blank">6.4</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.6.pdf" target="_blank">6.6</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.13.pdf" target="_blank">6.13</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.17.pdf" target="_blank">6.17</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.24.pdf" target="_blank">6.24</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.27.pdf" target="_blank">6.27</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.34.pdf" target="_blank">6.34</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.38.pdf" target="_blank">6.38</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.41.pdf" target="_blank">6.41</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.52_53.pdf">6.52, 
               53 </a>,<a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.62.pdf" target="_blank">6.62</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.71.pdf" target="_blank">6.71</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.75.pdf" target="_blank">6.75</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.78.pdf" target="_blank">6.78</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.82.pdf" target="_blank">6.82</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.91.pdf" target="_blank">6.91</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.101.pdf" target="_blank">6.101</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.103.pdf" target="_blank">6.103</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.107.pdf" target="_blank">6.107</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.109.pdf" target="_blank">6.109</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%206/White6ed_P6.154.pdf" target="_blank">6.154</a></td>
             <td valign="top"><div align="center">
               <p><a href="ENSC%20283/Assignments/A8/Assignment8_Problem.pdf" target="_blank">A8</a></p>
               <p><a href="ENSC%20283/Assignments/A8/Assignment8_Solution.pdf" target="_blank">A8_Sol</a></p>
             </div></td>
             <td valign="top"><a href="ENSC%20283/Lecture%20presentations/Viscous%20flow%20in%20ducts.pdf" target="_blank">Viscous 
               flow in ducts</a></td>
             <td valign="top"><a href="ENSC%20283/Quiz2/Quiz%202_solution.pdf" target="_blank">Pop 
               quiz 2</a></td>
           </tr>
           <tr>
             <td height="91" valign="top"><a href="ENSC%20283/Notes/Dimensional%20Analysis%20and%20Similarity.pdf" target="_blank">Dimensional 
               analysis</a></td>
             <td valign="top"><div align="center"><a href="ENSC%20283/Tutorials/T9/T9.pdf" target="_blank">T9</a></div></td>
             <td valign="top"><a href="ENSC%20283/Suggested%20Problems/Chapter%205/White_6ed_P5.5.pdf" target="_blank">5.5</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%205/White_6ed_P5.8.pdf" target="_blank">5.8</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%205/White_6ed_P5.17.pdf" target="_blank">5.17</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%205/White_6ed_P5.21.pdf" target="_blank">5.21</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%205/White_6ed_P5.28.pdf" target="_blank">5.28</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%205/White_6ed_P5.35.pdf" target="_blank">5.35</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%205/White_6ed_P5.46.pdf" target="_blank">5.46</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%205/White_6ed_P5.47.pdf" target="_blank">5.47</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%205/White_6ed_P5.71.pdf" target="_blank">5.71</a>, <a href="ENSC%20283/Suggested%20Problems/Chapter%205/White_6ed_P5.77.pdf" target="_blank">5.77</a></td>
             <td valign="top"><div align="center">
               <p><a href="ENSC%20283/Assignments/A9/Assignment9_Problem.pdf" target="_blank">A9</a></p>
               <p><a href="ENSC%20283/Assignments/A9/Assignment9_Solution.pdf" target="_blank">A9_Sol</a></p>
             </div></td>
             <td valign="top"><a href="ENSC%20283/Lecture%20presentations/Dimensional%20Analysis%20and%20Similarity.pdf" target="_blank">Dimensional 
               analysis</a></td>
             <td valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
           </tr>
         </tbody>
       </table>
     <p align="left"><a href="teaching.html">Return to home</a></p>
       <p align="left"><font size="2">last updated: June 6, 2011.</font> </p>
</div>
<div id="footer">
      <p><span class="style3">©  2013 Dr. M. Bahrami. Laboratoy for Alternative Energy Conversion. Simon Fraser University.</span></p>
    </div>
      
  </div>
  <div class="clr"></div>
<!--end Wrapper--></div>
<!--end Page--></div>

