<div class="page col-md-8 col-md-offset-2">
<div id="wrapper">
	<div class="courses">
    <h1 align="center"><strong>ENSC 461 Energy Conversion</strong></h1>
       <ul>
         <li><a href="ENSC%20461/ENSC%20461%20Outline.pdf" target="_blank">Course 
           Outline</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
      </ul>
       <ul>
         <li>Important Dates: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Midterm: 
           Thurs., Feb. 10, 8:30 to 11:30 am, Room: 5380<br />
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Final 
           Exam: Tues, April 19, 3:30 pm - 6:30 pm, Room: TBA</li>
       </ul>
       <ul>
         <li>Lab Instructions:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1) <a href="ENSC%20461/Lab/Four-Stroke%20Diesel%20Engine.pdf" target="_blank">Diesel Engine</a></li>
       </ul>
       <ul>
         <li>Project1: <a href="ENSC%20461/Project/Hydraulic%20Storage%20System.pdf" target="_blank">Hydraulic 
           Storage System</a>; Some papers: <a href="ENSC%20461/Project/Some%20papers%20for%20HRS/A%20Review%20of%20Regenerative%20Braking%20Systems.pdf" target="_blank">1</a>, <a href="ENSC%20461/Project/Some%20papers%20for%20HRS/An%20Experimental%20Thermal%20Time-Constant%20Correlation%20for%20Hydraulic%20Accumulators.pdf" target="_blank">2</a>, <a href="ENSC%20461/Project/Some%20papers%20for%20HRS/Improving%20Performance%20of%20an%20Energy%20Efficient%20Hydraulic%20Circuit.pdf" target="_blank">3</a>, <a href="ENSC%20461/Project/Some%20papers%20for%20HRS/Modeling%20of%20a%20Hydraulic%20Energy%20Regen%20System_Exp.pdf" target="_blank">4</a>, <a href="ENSC%20461/Project/Some%20papers%20for%20HRS/Overview%20of%20current%20and%20future%20energy%20storage%20technologies%20for%20electric%20power%20applications.pdf" target="_blank">5</a></li>
         <li>Project 2: <a href="ENSC%20461/Project/Development%20of%20vapor%20compression%20HVAC%20system%20for%20HEVs.pdf" target="_blank">CO2 
           Vapor Compression System</a>; Some papers: <a href="ENSC%20461/Project/Some%20papers%20for%20CO2%20Ref/Comparitive%20analysis%20of%20an%20automotive%20air%20conditioning%20systems%20operating%20with%20CO2%20and%20R134a.pdf" target="_blank">1</a>, <a href="ENSC%20461/Project/Some%20papers%20for%20CO2%20Ref/Exergy%20analysis%20of%20transcritical%20carbon%20dioxide%20refrigeration%20cycle%20with%20an%20expander.pdf" target="_blank">2</a>, <a href="ENSC%20461/Project/Some%20papers%20for%20CO2%20Ref/Fundamental%20process%20and%20system%20design%20issues%20in%20CO2%20vapor%20compression%20systems.pdf" target="_blank">3</a>, <a href="ENSC%20461/Project/Some%20papers%20for%20CO2%20Ref/Optimization%20of%20a%20transcritical%20CO2%20heat%20pump%20cycle%20for%20simultaneous%20cooling%20and%20heating.pdf" target="_blank">4</a>, <a href="ENSC%20461/Project/Some%20papers%20for%20CO2%20Ref/Transcritical%20CO2%20refrigeration%20cycle%20with%20ejector%20expansion%20device.pdf" target="_blank">5 </a>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
         </li>
       </ul>
      <table width="75%" border="1">
         <!--DWLayoutTable-->
         <tbody>
           <tr>
             <td width="106" height="42" valign="top"><div align="center"><strong>Lecture 
               Notes</strong></div></td>
             <td width="60" valign="top"><div align="center"><strong>Tutorials</strong></div></td>
             <td width="117" valign="top"><div align="center"><strong>Suggested Problems</strong></div></td>
             <td width="85" valign="top"><div align="center"><strong> Assignments</strong></div></td>
             <td width="140" valign="top"><div align="center"><strong>Misc.</strong></div></td>
           </tr>
           <tr>
             <td height="80" valign="top"><a href="MECH390/Lectures/Review.pdf" target="_blank">Review</a></td>
             <td valign="top"><div align="center">
               <p><a href="ENSC%20461/Tutorials/T1/Week%202,%20Tutorial%201,%20Ideal%20Gas.pdf" target="_blank">T1</a></p>
               <p><a href="ENSC%20461/Tutorials/T2/Week%203,%20Tutorial%202,%20Application%20of%20Second%20Law.pdf" target="_blank">T2</a></p>
             </div></td>
             <td valign="top"><p align="left"><a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P3-57.pdf" target="_blank">3-57</a>, <a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P3-59.pdf" target="_blank">3-59</a>, <a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P3-68.pdf" target="_blank">3-68</a>, <a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P3-78.pdf" target="_blank">3-78</a>, <a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P4-26.pdf" target="_blank">4-26</a>, <a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P4-37.pdf" target="_blank">4-37</a>, <a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P4-46.pdf" target="_blank">4-46</a>, <a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P4-82.pdf" target="_blank">4-82</a>,<a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P5-37.pdf" target="_blank">5-37</a>, <a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P5-49.pdf" target="_blank">5-49</a>, <a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P5-106.pdf" target="_blank">5-106</a>, <a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P6-46.pdf" target="_blank">6-46</a>, <a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P6-56.pdf" target="_blank">6-56</a>, <a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P6-81.pdf" target="_blank">6-81</a>, <a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P7-39.pdf" target="_blank">7-39</a>, <a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P7-57.pdf" target="_blank">7-57</a>, <a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P7-101.pdf" target="_blank">7-101</a>, <a href="ENSC%20461/Suggested%20Problems/Review/Cengel%207th_P7-147.pdf" target="_blank">7-147</a></p></td>
             <td valign="top"><div align="center">
               <p align="center"><a href="ENSC%20461/Assignments/A1/Assignment%201_Review.pdf" target="_blank">A1</a></p>
               <p align="center"><a href="ENSC%20461/Assignments/A1/Assignment%201_Review_solution.pdf" target="_blank">A1 
                 Solution</a></p>
             </div></td>
             <td valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
           </tr>
           <tr>
             <td height="99" valign="top"><p><a href="ENSC%20461/Notes/Carnot%20Cycle.pdf" target="_blank">Carnot 
               Cycle</a></p>
               <p><a href="ENSC%20461/Notes/Stirling%20Cycle.pdf" target="_blank">Stirling Engine</a></p>
               <p><a href="ENSC%20461/Notes/Internal%20Combustion%20Engine.pdf" target="_blank">ICEngines</a></p></td>
             <td valign="top"><div align="center">&nbsp;<a href="ENSC%20461/Tutorials/T3/T3.pdf" target="_blank">T3</a></div></td>
             <td valign="top"><div align="center">
               <p align="left"><a href="ENSC%20461/Suggested%20Problems/Chapter%209/P%209_24.pdf" target="_blank">9-24</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%209/P%209_39.pdf" target="_blank">9-39</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%209/P%209_54.pdf" target="_blank">9-54</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%209/P%209_58.pdf" target="_blank">9-58</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%209/P%209_81.pdf" target="_blank">9-81</a></p>
             </div></td>
             <td valign="top"><div align="center">
               <p align="center"><a href="ENSC%20461/Assignments/A2/Assignment%202_Stirling%20and%20Otto.pdf" target="_blank">A2</a></p>
               <p align="center"><a href="ENSC%20461/Assignments/A2/Assignment%202_Stirling_solution.pdf" target="_blank">A2 
                 Solution</a></p>
             </div></td>
             <td valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
           </tr>
           <tr>
             <td height="64" valign="top"><a href="ENSC%20461/Notes/Refrigeration%20Cycle.pdf" target="_blank">Refrigeration 
               Cycle</a></td>
             <td valign="top"><div align="center"><a href="ENSC%20461/Tutorials/T4/T4.pdf" target="_blank">T4</a></div></td>
             <td valign="top"><div align="left"><a href="ENSC%20461/Suggested%20Problems/Chapter%2011/P%2011_14.pdf" target="_blank">11-14</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2011/P%2011_20.pdf" target="_blank">11-20</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2011/P%2011_26.pdf" target="_blank">11-26</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2011/P%2011_34.pdf" target="_blank">11-34</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2011/P%2011_49.pdf" target="_blank">11-49</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2011/P%2011_58.pdf" target="_blank">11-58</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2011/P%2011_61.pdf" target="_blank">11-61</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2011/P%2011_66.pdf" target="_blank">11-66</a></div></td>
             <td valign="top"><div align="center">
               <p align="center"><a href="ENSC%20461/Assignments/A3/Assignment%203_Refrigeration.pdf" target="_blank">A3</a></p>
               <p align="center"><a href="ENSC%20461/Assignments/A3/Assignment%203_Refrigeration_w%20solution.pdf" target="_blank">A3 
                 Solution</a></p>
             </div></td>
             <td valign="top"><p>&nbsp;</p></td>
           </tr>
           <tr>
             <td height="80" valign="top"><p><a href="ENSC%20461/Notes/Brayton%20Cycle.pdf" target="_blank">Brayton 
               Cycle</a></p>
               <p><a href="ENSC%20461/Notes/JetPropulsion%20Cycle.pdf" target="_blank">Jet-Propulsion 
                 Cycle</a></p></td>
             <td valign="top"><div align="center"><a href="ENSC%20461/Tutorials/T5/T5.pdf" target="_blank">T5</a></div></td>
             <td valign="top"><p align="left"><a href="ENSC%20461/Suggested%20Problems/Chapter%209/P%209_102.pdf" target="_blank">9-102</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%209/P%209_110.pdf" target="_blank">9-110</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%209/P%209_134.pdf" target="_blank">9-134</a></p></td>
             <td valign="top"><div align="center">
               <p><a href="ENSC%20461/Assignments/A4/Assignment%204_Gas%20Turbine_Problem.pdf" target="_blank">A4</a></p>
               <p><a href="ENSC%20461/Assignments/A4/Assignment%204_Gas%20Turbine_Solution.pdf" target="_blank">A4 
                 Solution</a></p>
             </div></td>
             <td valign="top"><div align="left"></div></td>
           </tr>
           <tr>
             <td height="46" valign="top"><a href="ENSC%20461/Notes/Exergy.pdf" target="_blank">Exergy</a></td>
             <td valign="top"><div align="center"><a href="ENSC%20461/Tutorials/T6/T6.pdf" target="_blank">T6</a></div></td>
             <td valign="top"><div align="left"><a href="ENSC%20461/Suggested%20Problems/Chapter%208/8_36.pdf" target="_blank">8-36</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%208/8_45.pdf" target="_blank">8-45</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%208/8_48.pdf" target="_blank">8-48</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%208/8_53.pdf" target="_blank">8-53</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%208/8_57.pdf" target="_blank">8-57</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%208/8_61.pdf" target="_blank">8-61</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%208/8_77.pdf" target="_blank">8-77</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%208/8_80.pdf" target="_blank">8-80</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%208/8_84.pdf" target="_blank">8-84</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%208/8_101.pdf" target="_blank">8-101</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%208/8_111.pdf" target="_blank">8-111</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%208/8_114.pdf" target="_blank">8-114</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%208/8_129.pdf" target="_blank">8-129</a></div></td>
             <td valign="top"><p align="center"><a href="ENSC%20461/Assignments/A5/A5.pdf" target="_blank">A5</a></p>
               <p align="center"><a href="ENSC%20461/Assignments/A5/A5_Solution.pdf" target="_blank">A5 
                 Solution</a></p></td>
             <td valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
           </tr>
           <tr>
             <td height="71" valign="top"><p><a href="ENSC%20461/Notes/Non%20Reacting%20Mixtures.pdf" target="_blank">Non-Reacting 
               Mixtures</a></p>
               <p><a href="ENSC%20461/Notes/Gas%20Vapor%20Mixture_HVAC.pdf" target="_blank">Gas Vapor 
                 Mixtures and HVAC</a></p></td>
             <td valign="top"><p align="center"><a href="ENSC%20461/Tutorials/T7/T7.pdf" target="_blank">T7</a></p>
               <p align="center"><a href="ENSC%20461/Tutorials/T8/T8.pdf" target="_blank">T8</a></p>
               <p>&nbsp;</p>
               <p>&nbsp;</p></td>
             <td valign="top"><p><a href="ENSC%20461/Suggested%20Problems/Chapter%2013/13_46.pdf" target="_blank">13-46</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2013/13_53.pdf" target="_blank">13-53</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2013/13_59.pdf" target="_blank">13-59</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2013/13_60.pdf" target="_blank">13-60</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2013/13_72.pdf" target="_blank">13-72</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2013/13_76.pdf" target="_blank">13-76</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2013/13_96.pdf" target="_blank">13-96</a></p>
               <p><a href="ENSC%20461/Suggested%20Problems/Chapter%2014/14_20.pdf" target="_blank">14-20</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2014/14_63.pdf" target="_blank">14-63</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2014/14_69.pdf" target="_blank">14-69</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2014/14_73.pdf" target="_blank">14-73</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2014/14_78.pdf" target="_blank">14-78</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2014/14_82.pdf" target="_blank">14-82</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2014/14_90.pdf" target="_blank">14-90</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2014/14_93.pdf" target="_blank">14-93</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2014/14_105.pdf">14-105</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2014/14_114.pdf" target="_blank">14-114</a> </p>
               <p>&nbsp;</p>
               <p>&nbsp;</p></td>
             <td valign="top"><div align="center">
               <p><a href="ENSC%20461/Assignments/A7/A7.pdf" target="_blank">A7</a></p>
               <p><a href="ENSC%20461/Assignments/A7/A7_Solution.pdf" target="_blank">A7 Solution</a></p>
             </div></td>
             <td valign="top"><p><a href="ENSC%20461/Refrigeration_HVAC.ppt" target="_blank">Multi-Zone 
               Air Conditioning Unit</a></p>
               <p><a href="ENSC%20461/Unity%20Integration%20Presentation%20SFU-24.03.11.pptx" target="_blank">Solar 
                 Energy and Applications</a></p></td>
           </tr>
           <tr>
             <td height="62" valign="top"><a href="ENSC%20461/Notes/Vapor%20Power%20Cycles.pdf" target="_blank">Vapor 
               Power Cycles</a></td>
             <td valign="top"><div align="center"><a href="ENSC%20461/Tutorials/T9/T9.pdf" target="_blank">T9</a></div></td>
             <td valign="top"><a href="ENSC%20461/Suggested%20Problems/Chapter%2010/10_27.pdf" target="_blank">10-27</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2010/10_29.pdf" target="_blank">10-29</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2010/10_41.pdf" target="_blank">10-41</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2010/10_52.pdf" target="_blank">10-52</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2010/10_60.pdf" target="_blank">10-60</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2010/10_69.pdf" target="_blank">10-69</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2010/10_74.pdf" target="_blank">10-74</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2010/10_77.pdf" target="_blank">10-77</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2010/10_85.pdf" target="_blank">10-85</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2010/10_90.pdf" target="_blank">10-90</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2010/10_97.pdf" target="_blank">10-97,</a> <a href="ENSC%20461/Suggested%20Problems/Chapter%2010/10_102.pdf" target="_blank">10-102</a>, <a href="ENSC%20461/Suggested%20Problems/Chapter%2010/10_104.pdf" target="_blank">10-104</a></td>
             <td valign="top"><div align="center">
               <p><a href="ENSC%20461/Assignments/A8/A8.pdf" target="_blank">A8</a></p>
               <p><a href="ENSC%20461/Assignments/A8/A8_Solution.pdf" target="_blank">A8 Solution</a></p>
             </div></td>
             <td valign="top"><div align="left"></div></td>
           </tr>
           <tr>
             <td height="62" valign="top"><a href="ENSC%20461/Notes/Chemical%20Reactions.pdf" target="_blank">Reacting 
               Mixtures</a></td>
             <td valign="top"><div align="center">T10</div></td>
             <td valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
             <td valign="top"><p align="center">A9</p>
               <p align="center">A9 Solution</p>
               <p align="center">A10</p>
               <p align="center">A10 Solution</p>
               <p>&nbsp;</p></td>
             <td valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
           </tr>
           <tr>
             <td height="41" colspan="5" valign="top"><div align="center">
               <p align="left"><strong>Field Trip: TBA.</strong><br />
               </p>
             </div></td>
           </tr>
         </tbody>
       </table>
      <br />
     <p align="left"><a href="teaching.html">Return to home</a></p>
       <p align="left"><font size="2">last updated: June 26, 2011.</font> </p>
</div>
<div id="footer">
      <p><span class="style3">©  2013 Dr. M. Bahrami. Laboratoy for Alternative Energy Conversion. Simon Fraser University.</span></p>
    </div>
      
  </div>
  <div class="clr"></div>
<!--end Wrapper--></div>
<!--end Page--></div>
