<% provide(:title,"Facilities") %>
<div class="page2 col-md-8 col-md-offset-2">
  <div class = "column col-md-6">

<h1><strong>Undergraduate Course</strong></h1>

<p><%= link_to "MSE 223 (ENSC 283) Introduction to Fluid Mechanics (SFU)", '/ensc283' %></p>

<p><%= link_to "MSE 321 (ENSC 388) Engineering Thermodynamics and Heat Transfer (SFU)", '/ensc321' %></p>

<p><%= link_to "MSE 423 (ENSC 461) Energy Conversion (SFU)", '/ensc423' %></p>

<p><strong>Fall 2007 </strong></p>
<p>MECH 240 Thermodynamics (University of Victoria)</p>
<p><strong>Winter 2007</strong></p> 
<p>MECH 390 Energy Conversion (University of Victoria)</p>
<p><strong>Spring 2005</strong></p>
<p>ECE 309 Heat Transfer & Thermodynamics (University of Waterloo)</p>
<br>
</div>
 
<div class = "col-md-6">

<h1><strong>Graduate Course</strong></h1>
<p><strong>Spring 2012</strong></p>
<p>Advanced Convection Heat Transfer</p>

<p><strong>Spring 2010</strong></p>
<p>ENSC 895 Advanced Conduction Heat Transfer (SFU)</p>

<p><strong>Fall 2007</strong></p>
<p>MECH 580 Convective Heat Transfer (University of Victoria)</p>
</div>
</div>

