<% provide(:title,"research") %>
  <div class = "col-1"></div>

<div class = "term_detail col-10">
  <div class = "topic">Research</div>
  <div class = "introduction">
    <p>LAEC seeks to understand and solve fundamental problems at multiscale levels to improve energy conversion efficiency in devices such as compact heat exchangers, fuel cells, batteries, and refrigeration systems.  The following highlights some of the current research projects in our group.
  </p>
  </div>
  <div class = "namecard">
     <div class = "card_pic col-3">
      <%= image_tag("ac-service-crop-u729.jpg")%>
     </div>
     <div class = "card_text">
      <div class = "card_title">
        <p>Air Conditioning and Refrigeration Systems for Service Vehicles</p>
      </div>
      <div class = "card_detail">
             <p>This research program is working to eliminate the need for idling to provide cooling for the sleeper section in semi trucks and improve the overall efficiency of air conditioning and refrigeration (A/C-R) systems in service vehicles, including long-haul trucks, reefers and buses.  The project is a collaborative research program between Simon Fraser University and the University of Waterloo, and enjoys the full support and close collaboration of two industrial partners: Cool-It and Saputo Dairy Products Canada.  The long-term goal is to improve the fuel economy of service vehicles through the development of novel and efficient thermal management systems that use regenerative auxiliary power systems (RAPS) or engine waste heat to operate the A/C-R systems.
</p>
      </div>
     </div>
  </div>
</div>