<% provide(:title,"Service") %>
<div class = "term_detail">
  <div class = "topic">Service</div>
  <div class = "detail_intro">
    <p>Laboratory for Alternative Energy Conversion (LAEC) provides analysis, testing, and material characterization services in the general area of energy systems. LAEC is equipped with a collection of state-of-the-art infrastructure and testing capabilities to assure high-quality tests in a safe environment. The following provides a list of available services. For more information please see our brochure or contact Dr. Bahrami (mbahrami@sfu.ca).</p>
  </div>
  <ul class = "services-list container col-md-10 col-md-offset-1">
    <li>Battery Services
      <ul>
        <li>research and development of battery thermal management systems</li>
        <li>battery characterization and rating tests via drive cycle simulations and calorimetry</li>
        <li>regularity compliance</li>
      </ul>
    </li>
    
    <li>Thermophysical properties measurements (porous media, polymers, powders, pastes, liquids and solids)
      <ul>
        <li>thermal conductivity and thermal contact resistance (ASTM C177, D5470, C518; ISO/DIS 22007-2.2)</li>
        <li>electrical conductivity and electrical contact resistance</li>
        <li>permeability</li>
        <li>specific heat</li>
      </ul>
    </li>
    
     <li>Heat sinks and heat exchangers:
      <ul>
        <li>design and testing</li>
        <li>numerical simulation and modeling</li>
        <li>pressure drop and heat transfer measurements</li>
        <li>heat exchanger rating</li>
      </ul>
    </li>
    
     <li>Electronic cooling and enclosure design
      <ul>
        <li>analysis and testing utilizing a wind-tunnel and environmental chambers</li>
        <li>temperature mapping with IR cameras</li>
      </ul>
    </li>
    
     <li>Mechanical testing
      <ul>
        <li>micro- and nano-indentation (Vickers hardness; ASTM E92, E384)</li>
        <li>compression, tensile and flexural testing</li>
        <li>dynamic mechanical analysis (DMA)</li>
        <li>surface roughness and out-of-flatness</li>
      </ul>
    </li>
    
    <li>Air-conditioning and refrigeration services
      <ul>
        <li>laboratory and field testing (ASHRAE 16-1983, ANSI/AHRI 210-240)</li>
        <li>leak detection</li>
      </ul>
    </li>
  </ul>
</div>
