<% provide(:title,"Service") %>

<div class = " container information col-md-10 col-md-offset-1">
    <!--- --->
  <p><strong>Location</strong></p>
  <div style = "margin:1em;" class = "wearehere col-md-12 col-sm-12"><%= image_tag("117942.jpg") %></div>  
  <iframe class = "col-md-6 col-sm-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2607.7053162070747!2d-122.84850146176598!3d49.1871781955188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5485d9d4be470c4f%3A0xd68e5d81e875ce21!2s13450+102+Ave+%23190%2C+Surrey%2C+BC+V3T+5X3!5e0!3m2!1szh-CN!2sca!4v1498077734671" height="450" frameborder="0" style="border:0; margin:1em;" allowfullscreen></iframe>
  <div class = "col-md-5 col-sm-12" style = "font-size:2em">
      <strong>Address:<br></strong>
      #190A-13450 102 Ave<br>
      Surrey, BC<br>
      V3T 5X3<br>
    <br>
    <strong>Telephone:<br></strong>

      778-782-9746
    </div>
  </div>
