  <%= form_for(facility.facility_contacts.build, remote: true) do |f| %>
    <div><%= hidden_field_tag :facility_id, facility.id %></div>
    <div><%= hidden_field_tag :user_id, user.id %></div>
    <%= f.submit "Add to author", class: "btn btn-primary" %>
  <% end %>