<%= form_for(facility.facility_contacts.find_by(facility_id:facility.id),
               html: { method: :delete }, remote: true) do |f| %>
    <div><%= hidden_field_tag :facility_id, facility.id %></div>
    <div><%= hidden_field_tag :user_id, user.id %></div>
    <%= f.submit "Quit", class: "btn btn-danger" %>
<% end %>                  