<% provide(:title, 'All Facilities') %>

<div class = "term_detail">
  <div class = "topic">All Facilities</div>
  <div class = "container-fluid">
    <div class="projects container col-md-12">
      <% @facilities.each do |facility| %>
          <div class = "project_brief container col-md-3">
            <div class = "project_thumb">
              <%= link_to image_tag(facility.image.url()), facility.image.url %>
            </div>
            <%= link_to facility.title, facility, {:class=>"thumb-title col-md-12"}%>
            <%= truncate(facility.description, :length => 250) %>
            <%= link_to "View more", facility%>
          </div>
      <% end %>
    </div>
  </div>
</div>