<%= form_for(project.partner_relations.find_by(research_partner_id: research_partner.id),
               html: { method: :delete }, remote: true) do |f| %>
    <div><%= hidden_field_tag :research_partner_id, research_partner.id %></div>
    <div><%= hidden_field_tag :project_id, project.id %></div>
    <%= f.submit "Quit", class: "btn btn-danger" %>
<% end %>                  