<%= form_for(project.relationships.find_by(article_id: project.id),
               html: { method: :delete }, remote: true) do |f| %>
    <div><%= hidden_field_tag :author_id, user.id %></div>
    <div><%= hidden_field_tag :article_id, project.id %></div>
    <%= f.submit "Quit", class: "btn btn-danger" %>
<% end %>                  