<div>
  <div id = "edit_form"><%= render partial: 'participate_form'%></div>
  <%= link_to 'Show', @project %> |
  <%= link_to 'Back', projects_path %>
  <% if current_user == (@project.user) %>
    <%= link_to "delete", @project, method: :delete,
                                      data: { confirm: "You sure?" } %>
  <% end %>
</div>
