  <tbody>
    <div class = "information col-md-10 col-md-offset-1">
            <p><strong>Research Partners</strong></p>

      <div class = "container">
        <% @research_partners.each do |research_partner| %>
          <div class = "col-md-3 research_partner_list">
            <tr>
              <div class = "col-md-12 research_partner_logo">
                <td><%= link_to image_tag(research_partner.image.url()), research_partner.description%></td>
              </div>
              <div class = "col-md-12">
                <td><%= research_partner.title %></td>
              </div>
              <% if logged_in? %>
                <td><%= link_to 'Edit', edit_research_partner_path(research_partner) %></td>
                <td><%= link_to 'Destroy', research_partner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>  
            </tr>
          </div>
        <% end %>
      </div>
    </div>
  </tbody>
