@import "bootstrap-sprockets";
@import "bootstrap";



@media screen and (min-width: 770px) {
  
.nav-up {
  #logo {
    display:none;
  }   
}

#logo5{
  display:none;
}

#logo {
  margin-top: 0.5em;
  height:4.5vw;
  min-height:3em;
}

.navbar{
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar ul{
  position:absolute;
  padding-right:2em;
  width:60%;
  bottom:0;
  right:0;
}



.navbar-default .navbar-nav > li{
  width:15%;
  padding-left:0.5em;
  padding-right:0.5em;
  font-size:1em;
  font-weight:bold;
  text-align:center;
  transition: .3s ease;
}

.navbar-default .navbar-nav > li:hover{
  background-color: #a6192e;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);

}

.navbar-default .navbar-nav .active{
  background-color: #a6192e;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);

}

.navbar-default .navbar-nav > li > a{

  color: #a6192e;
}

.navbar-default .navbar-nav > li > a:hover{
    background-color:rgba(0,0,0,0);

  color: white;
}

.navbar-default .navbar-nav .active a{
  background-color:rgba(0,0,0,0);
  color: white;
}

.navbar-default .navbar-nav > .active > a:hover{
  background-color:rgba(0,0,0,0);
  color: white;
}

.navbar-default .navbar-nav > .active > a:focus{
  background-color:rgba(0,0,0,0);
  color: white;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
}


@media screen and (max-width: 769px) {

#logo5{
  width:15%;
  margin:0.5em;
  min-width:6em;
}

.nav-up{
  #logo{
    display:none;
  }
}



.navbar-toggle {
  display: block;
}

.navbar{
    transition: .2s ease;

}

.navbar-collapse.collapse {
    display: none!important;

}

.navbar-collapse.collapse ul{
}

.navbar-collapse.collapsing ul{
}

.collapse.in{
  	display:block !important;
}
	
	
.collapse.in ul{
}
	
	
#logo {
  display: none;
}

.navbar{
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.collapse.in{
}

.navbar .ul{
  
  float:left;
}
.navbar-default .navbar-nav > li{
  font-size:1.3em;
  font-weight:bold;
  text-align:center;
  transition: .3s ease;
  width:90%;
}

.navbar-default .navbar-nav > li:hover{
  background-color: #a6192e;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);

}

.navbar-default .navbar-nav .active{
  background-color: #a6192e;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);

}

.navbar-default .navbar-nav > li > a{

  color: #a6192e;
}

.navbar-default .navbar-nav > li > a:hover{
    background-color:rgba(0,0,0,0);

  color: white;
}

.navbar-default .navbar-nav .active a{
  background-color:rgba(0,0,0,0);
  color: white;
}

.navbar-default .navbar-nav > .active > a:hover{
  background-color:rgba(0,0,0,0);
  color: white;
}

.navbar-default .navbar-nav > .active > a:focus{
  background-color:rgba(0,0,0,0);
  color: white;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
}


$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  color:red;
  font-size:1em;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.participate_list {
  margin: 5em;
  padding: 2em;
  border: solid;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.item{
  width:20%;
  display:inline-block;
  padding-top:2em;
}