@import "bootstrap-sprockets";
@import "bootstrap";

.shrink_image{
  display:inline-block;
  width:49%;
}

.user_articles h4{
  width:100%;
}

.user_articles{
  width:100%;
  display:block;
  height:100%;
  padding:0;
}



.user_articles img{
  width:100%;
}

.bio_image{
  margin:0;
}

.bio_image img{
  width:100%;
}

.card_text .bio-bio {
  font-size:1.1em;
  line-height:1.5;
}

.non-float{
  float:none;
  padding:0;
}

.simple_form .optional{
  color:black;
}

.margin-bottom{
  margin-bottom:5em;
}

.form-inputs .text{
  color:black;
}

@media screen and (min-width: 770px) {
  
.nav-up {
  #logo {
    display:none;
  }   
}

#logo5{
  display:none;
}

#logo {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height:4.5vw;
  min-height:3em;
}
.navbar{
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-collapse>ul{
  position:absolute;
  width:70%;
  bottom:0;
  right:0;
}

.dropdown-menu{
  background-color: whitesmoke;
  
}

/*test*/

.navbar-default .navbar-nav > li{
  width:18%;
  font-size:1em;
  font-weight:bold;
  text-align:center;
  transition: .3s ease;
}

.navbar-default .navbar-nav  li:hover{
  background-color: #3384d3;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);

}

.navbar-default .navbar-nav .active{
  background-color: #3384d3;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);

}



.navbar-default .navbar-nav  li  a{
  color: #3384d3;
}

.navbar-default .navbar-nav .active {
    color: white;
    background-color:#3384d3;


}

.navbar-default .navbar-nav  li  a:hover{
    background-color:rgba(0,0,0,0);
    color: white;
}

.navbar-default .navbar-nav .active a{
  background-color:rgba(0,0,0,0);
  color: white;
}

.navbar-default .navbar-nav  .active  a:hover{
  background-color:rgba(0,0,0,0);
  color: white;
}

.navbar-default .navbar-nav  .active  a:focus{
  background-color:rgba(0,0,0,0);
  color: white;
}

.navbar-default .navbar-nav .open {
  background-color:#3384d3;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);

}

.navbar-default .navbar-nav .open  a:focus{
  background-color:#3384d3;
  color: white;
}

.navbar-default .navbar-nav .open  a:focus {
  background-color:#3384d3;
  color: white;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}

.dropdown-menu{
  text-align:left;
  background-color:whitesmoke;
  border-width:0;
}

.navbar-default .navbar-nav .open li a {
  font-weight:bold;
  border-width:0.1em;
  color:#3384d3;
  background-color:whitesmoke;
}

.navbar-default .navbar-nav .open li a:hover {
  color:white;
  background-color:#3384d3;
}

  
}


@media screen and (max-width: 769px) {



#logo5{
  width:15%;
  margin:0.5em;
  min-width:6em;
}

.nav-up{
  #logo{
    display:none;
  }
}

.navbar-toggle {
  display: block;
}

.navbar{
    transition: .2s ease;

}

.navbar-collapse.collapse {
    display: none!important;

}

.navbar-collapse.collapse ul{
}

.navbar-collapse.collapsing ul{
}

.collapse.in{
  	display:block !important;
}
	
	
.collapse.in ul{
}
	
.navbar-default .navbar-nav > .open > a:hover{
  color:#3384d3;
}	
	
#logo {
  display: none;
}

.navbar{
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.collapse.in{
}

.navbar .ul{
  float:left;
}

.navbar-default .navbar-nav > li{
  font-size:1.3em;
  font-weight:bold;
  text-align:center;
  transition: .3s ease;
  width:90%;
}

.navbar-default .navbar-nav > li:hover{
  background-color: #3384d3;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);

}

.navbar-default .navbar-nav .active{
  color: #3384d3;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.navbar-default .navbar-nav > li > a{
  color: #3384d3;
}

.navbar-default .navbar-nav > .open > a:focus {
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a{
  color:white;
}

.navbar-default .navbar-nav > .active > a{
    color:#3384d3;
}

.navbar-default .navbar-nav > li > a:hover{
  box-shadow:none;
  background-color:white;
  color:#3384d3;

}
}


$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  color:red;
  font-size:1em;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.participate_list {
  margin: 5em;
  padding: 2em;
  border: solid;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.item{
  width:30%;
  display:inline-block;
  padding-top:2em;
}

.item img{
  width: 100%;
}

.footer{
  color:whitesmoke;
  background-color:#1a1919;
}

.footer a{
    font-weight:bold;
    margin:auto;
    width:100%;
    text-align:center;
    color:whitesmoke;

}

#footer-logo1{
  width:25em;
}

.footer-content{
  padding-top:1em;
}

#footer-logo2{
  border-right:solid;
  padding-right:1em;
  border-color:rgba(255,255,255,0.5);
  border-width:0.1em;
  width:15em;
}

#footer-logo3{
  transition: 0.5s ease;
  padding-left:0.1em;
  margin-top:0.5em;
  margin-bottom:1em;
  width:4em;
}

#footer-logo3:hover{
  width:6em;
}

.footer-content2{
  padding-top:1.5em;
}

.footer-content3{
  margin-top:1em;
}

@media screen and (max-width: 375px) {

#footer-logo1{
  width:100%;
}
  
}