// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.schedular{
  margin:2em;
}

.align-right{
  text-align:right;
}

.card_pic4{
  width:100%;
  
}

.facility_show img{
  width:100%;
  margin-bottom:2em;
}

.card_pic4{
    margin:auto;

  width:100%;
}

.card_pic4 img{
  display: block;
  margin:auto;
  max-height: 15em;
  max-width: 100%;
  padding: auto;
}

.each_facility{
  padding: 0.5em;
}


