// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card_pic4{
  width:100%;
  
}

.facility_show img{
  width:100%;
}

.card_pic4 img{
  margin:auto;
  display:block;
  max-height: 15em;
  max-width:100%;
  
}

.each_facility{
  padding:0.5em;
}


