// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
  font-size:2.5em;
  font-weight:bold;
  text-align:center;
}

.user{
  text-align:right;
}

.project-image{
}

.project-image img{
  display:block;
  width:60%;
}

.description
{
  font-size:1em;
}

.timestamp{
}

.project_brief{
  top:0;
  vertical-align:top;
  height:30em;
  width:30%;
  display:inline-block;
  margin:0.5em;
  padding:1em;
  background-color:whitesmoke;
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.1);
}

.project_brief img{
  width:100%;
}

.brief_title{
  font-size:2em;
}

.project_thumb{
  height:15vw;
  overflow:hidden;
}

.thumb-title{
  font-size:1.2em;
  font-weight:bold;
  text-align: center;
}

.projects{
  padding-top:2em;
}

@media screen and (max-width: 769px) {
.project_brief{
  height:auto;
  width:100%;
  margin:1em;
  padding:1em;
  background-color:whitesmoke;
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.1);
}

.project_thumb{
  height:auto;
  overflow:hidden;
}

}

.project-detail .user
{
  text-align:center;
}

.project-detail .timestamp
{
    text-align:center;

}

.project-image
{
  width:100%;
}

.project-image img{
  display:block;
  margin:auto;
  padding-top:1em;
  padding-bottom:1em;

}

.project-description{
    font-family:"times";
    font-size:1.1em;
    column-count: 3;
    column-gap: 1em;
}