// Place all the styles related to the ResearchPartners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.research_partner_logo img{
  height:100%;
  width:auto;
  
}

.research_partner_list{
  margin:auto;
  text-align:center;
}


.research_partner_logo{
  height:5em;
}

