// Place all the styles related to the ResearchPartners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.research_partner_logo img{
  width:100%;
  height:auto;
  
}

.research_partner_list{
  position:relative;
  margin:auto;
  text-align:center;
}


.research_partner_logo{
  height:5em;
}

.info-partner{
  margin-bottom:3em;
}

.partner-list{
  
}

.research_partner_list{
  margin:auto;
  height:15em;
  
}

.block-p{
  position:absolute;
  bottom:0;
  width:100%;
  margin:auto;
}