// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    font-size: 5em !important; 
    font-weight: bold;
    float:none !important;
}

.user_articles{
  float:none !important;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* window end */


.mainblock{
  background:whitesmoke;
  padding:1em;

}

.nopadding{
  padding-left:0;
}

.cut-padding{
  padding:0;
}

#logo6{
  display:none;
}

#blank{
  height: 10vw;
  width:100%;
}

.welcome_cover{
  position:relative;
  overflow:hidden;
}

.welcome_cover>img{
width:100%;
position:relative;
}

.welcome_text{
  position:relative;
  font-weight:bold;
  float:right;
  width:100%;
  height:4vw;
  top:-4vw;
  font-size: 1.6vw;
  color:white;
  text-align:left;
  background-color:rgba(0,0,0,0.6);
  padding-left:1vw;
}

.overlay2 .text a{
  color:white;
}

.research_brief{
  top :-4vw;
  position:relative;
}

.topic{
  padding-top:2.5em;
  font-weight: bold;
  text-align:center;
  font-size: 2.2em;
  position:relative;
  text-align: center;
  width: 100%;
  border-bottom:solid;
  border-bottom-color: rgba(0,0,0,0.2);
    border-width:0.02em;

}


.service_brief .topic
{
  padding:0;
}

.aboutus_brief
{
  padding:0;
}

.introduction{

  position:relative;
  font-size:1.5em;
}

.btn-custom{
  opacity:0.5;
  width:100%;
  font-size:1em;
  margin:auto;
  border-width: 0.1em;
  color: black;
  transition: .5s ease;
  text-align:center;
  float: left;
  background-color:whitesmoke;
}

.btn-custom2{
  width:15%;
}

.btn-custom3{
    width:55%;
}

.btn-align{
  text-align:left;
    padding-left:0;

}

.btn-custom a{
  text-decoration: none;
  font-weight:bold;
  color: black;
  transition: .5s ease;
}

.btn-custom span{
  opacity:0;
  transition: .5s ease;
}

.btn-custom:hover{
  opacity:1;
  width:100%;
}


.btn-custom2:hover{
  width:80%;
}

.btn-custom:hover span{
  opacity:1;
  display:inline;
}

.thumb{
  float:center;
  position:relative;
  width:25%;
  margin:0.5vw;
  background-color:white;
}

.thumb > img{
  width:100%;
}

.square1{
  padding-top: 2.53vw;
  padding-bottom: 2.53vw;
}

.square2{
  padding-top: 2vw;
  padding-bottom: 2vw;
  
}



.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(166, 25, 46,0.8);
  width: 100%;
  overflow: hidden;
  height:0%;
  transition: .5s ease;

}

.overlay2 {
  position: absolute;
  bottom: 0;
  height:100%;
  left: 0;
  right: 0;
  background-color: rgba(166, 25, 46,1);
  width: 100%;
  overflow: hidden;
  transition: .5s ease;

}

.thumb:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  text-align:center;
  white-space: nowrap; 
  color: white;
  font-size: 1.5vw;
  position: relative;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.service_brief{
}

.service_brief img{
  width:60%;
  display:block;
  margin:auto;
  height: auto;
}

.bullet{
  font-size:0.8em;
  line-height:1.46;
  list-style-position: outside;
}

.card_pic {
    margin-top:1em;
    position: relative;
}

.card_pic_x{
  overflow:hidden;
  height:8em;
}

.card_pic_y{
  height:18em;
}

.card_pic img {
    display: inline;
    width: 100%;
}


.card_title{
  text-align:left;
  font-size: 1.2em;
  line-height: 1.0em;
}



.card_name{
  text-align:left;
  font-size:1.2em;
  font-weight:bold;
  line-height: 1.1;
}

.card_name2{
  text-align:center;
  margin-top:0.5em;
}

.card_detail{
  padding-bottom:0.2em;
  font-size: 1.2em;
  line-height: 1.1;
}



.namecard{
  background-color:whitesmoke;
  overflow:hidden;
  padding-bottom:1em;
}

.link_button{
  color:#a6192e;
  text-decoration: underline;

}

.tweet{
  float:right;
}

.detail_card{
  background-color:white;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.4); 
}

#logo3 {
  display: none;
}

#logo4 {
  display: none;
  
}

.item_brief{
  padding: 0.4em;
  margin-bottom:1em;
}


.item_brief:hover{
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.1); 
}

.item_thumb{
  position:relative;
  width:100%;
  overflow: hidden;
  height: 10vw;
}

.collection_thumb{
  width:100%;
}

.collection_thumb img{
  width:100%;
  min-height:100%;
  min-width:100%;
}

.collection_each{
  display:inline;
  overflow:hidden;

}
.item_thumb img{
  position:absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.item_title{
  padding:1em;
  font-size:1vw;
  text-align:center;
  margin:auto;
}

.more{
  padding:1em;
  font-size:1vw;
  text-align:center;
  margin:auto;
}

.item_text{
  font-size:0.8em;
}

.staff-collection {
  position:relative;
  padding-left:1em;
}

.anchor_blank{
  position:absolute;
  top:-5em;
  height:5em;
}

.all_staff p {
  border-top:solid;
  border-color: rgba(0,0,0,0.2);
  margin-top: 1em;
  font-size:2em;
}

.each_item {
}

.card_name{
}

.card_text2{
}


.card_text span {
  font-size:0.8em;
}



.card_text a {
  font-size:0.8em;

}



.card_bio{

  margin-bottom:1em;
  font-size:1.3em;
  margin-top:1em;
  padding-left:1em;
  border-width:0.2em;
  border-left:solid;
  border-color:#3384d3;
}

.each_item{
  position:relative;
  top:0;
  display:inline-block;
  padding-left:0;
  padding-right:0;
  
}

.card_text{

}

.list_title{
  padding-left:0;
}

.card_pic3{
    margin-bottom:1em;

}




.card_pic2 {
    overflow:hidden;
    height:10em;
    margin-bottom:1em;
}

.card_pic3 {
  
  height:auto;
}

.card_pic2 img {
  width:auto;
  height:100%;
}

.card_pic3 img{
  margin:auto;
}

.page2{
  padding-bottom:14.5em;
}

.column{
  border-right:solid;
  border-color:rgba(0,0,0,0.2);
  border-width:0.1em;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.wearehere{
  padding-right:0;
}



.wearehere img{
  width:100%;
}

.contact-image img{
  width:100%;
}


.contact-info2{
  padding:1em;
  position:absolute;  
  width:22.2em;
  right:9.3%;
  top:40%;
  background-color:rgba(255,255,255, 0.8);
}



.title-image img{

  width: 125em;
  height:auto;
}

.listShow{
  padding-top:0.5em;
}



.btn-custom4{
    transition: .5s ease;
  width:100%;
}

.btn-custom4 a{
  color: black;
  text-decoration:none;
}

.btn-custom4:hover{
  background-color:rgba(255,255,255,0.5);

  border:solid;
  border-color:black;
  border-radius:5px;
  border-width:0.05em;
}


.mySlides{
  margin-bottom:1em;
  height:20em;
  position:absolute;
  top:0;
  transition: ease 1s;
}

.mySlides2{
  margin:1em;
  border-left-width:5em;
  padding-left:1em;
  text-align:left;
}

.mySlides img{
  max-height:100%;
  display: block;
  margin: auto;
  max-width:100%;
}

.contact-image{
  position:relative;
}

.slideshow{
  position:relative;
  overflow:hidden;
  margin:auto;
  margin-left:0;
  width: 100%;
  height:20em;
}



.news_brief{
  width:100%;
}

.news_thumb{
  width:20%;
}

.news_thumb img{
  width:100%;
}

.contact-info3{
  padding:0;
}

.contact-info3 p{
  margin-top:0.5em;
  font-size:1.5em;
  width:100%;
  text-align:center;
}



.item_line{
  padding-top:0.5em;
  padding-bottom:0.5em;
  padding-left:0;
  padding-right:0;
  border-bottom:solid;
  border-color:rgba(0,0,0,0.2);
  border-width:0.1em;
}

.myList{
  margin-bottom: 0.5em;
  width:12em;
}

.mylist img{
}

.myList2{
}

/*slideshow*/






.brand-right{
  position:absolute;
  width:100%;
  top:0;
}


#logo2{
    width:15%;
  float:left;
}

.something{
}

.box-top{
  padding-top:0.5em;
  border-top:solid;
  border-width:0.1em;
  border-color:rgba(0,0,0,0.3);
}

.all_staff{
  background:whitesmoke;
  padding:0;
}

.tweet{
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.1); 
 
}


@media screen and (min-width: 320px) {

.title-description{
  padding:0;
  font-size:0.8em;
}

.title-text{
  text-align:left;
  font-size:1.5em;
  position:absolute;  
  top:5%;
}

.title-text strong{
 font-size:1.2em;
}

.element-container{
  position:absolute;
  top:20%;
}

.contact-info{
  margin-bottom:1em;
  position:relative;
  padding:1em;
  background-color:rgba(255,255,255, 0.8);
}
  
.contact-info img{
  float:left;
  width:20%;
}
  
.contact-text{
  font-size:1em;
  float:right;
  width:75%;
  line-height:1.3;
}

.contact-text strong{
font-size:1.5em;
}

.contact-info3{

  position:relative;
  background-color:rgba(255,255,255, 0.8);
}
  
.title-image{
  width: 100%;
  overflow:hidden;
  position:relative;
  top:-20vw;
  margin-bottom:-20vw;
}  

}

@media screen and (min-width: 425px) {

.title-text{
  text-align:left;
  font-size:1.5em;
  position:absolute;  
  top:5%;
}

.title-text strong{
 font-size:1.2em;
}

.element-container{
  position:absolute;
}

.contact-info{
  position:relative;
  padding:1em;
  background-color:rgba(255,255,255, 0.8);
}
  
.contact-info img{
  float:left;
  width:20%;
}
  
.contact-text{
  font-size:1em;
  float:right;
  width:75%;
  line-height:1.3;
}

.contact-text strong{
font-size:1.5em;
}

.contact-info3{
  position:relative;
  background-color:rgba(255,255,255, 0.8);
}
  
.title-image{
  width: 100%;
  overflow:hidden;
  position:relative;
  top:-15vw;
  margin-bottom:-15vw;
}  

}

@media screen and (max-width: 768px) and (min-width: 375px) {
  .element-container{
    position:absolute;
    top:15%;
  }
}

@media screen and (min-width: 768px) {

.title-description{
  font-size:1em;
}

.title-text{
  text-align:left;
  font-size:1.5em;
  position:absolute;  
  top:5%;
}

.title-text strong{
 font-size:1.5em;
}

.element-container{
  position:absolute;
  top:15%;
}

.contact-info{
  position:relative;
  padding:1em;
  background-color:rgba(255,255,255, 0.8);
}
  
.contact-info img{
  float:left;
  width:20%;
}
  
.contact-text{
  font-size:1em;
  float:right;
  width:75%;
  line-height:1.3;
}

.contact-text strong{
font-size:1.5em;
}

.contact-info3{
  margin-top:0;
  position:relative;
  background-color:rgba(255,255,255, 0.8);
}
  
.title-image{
  width: 100%;
  overflow:hidden;
  position:relative;
  top:-5vw;
  margin-bottom:-2vw;
}  


}


@media screen and (min-width: 992px) {

.card_pic2 img {
  width:auto;
  height:100%;
  
}

.element-container{
  position:absolute;
  top:40%;
}

.contact-info{
  position:relative;
  padding:1em;
  background-color:rgba(255,255,255, 0.8);
}
  
.contact-info img{
  float:left;
  width:30%;
}
  
.contact-text{
  font-size:1em;
  float:right;
  width:65%;
  line-height:1.3;
}

.contact-text strong{
font-size:1.5em;
}

.contact-info3{
  position:relative;
  background-color:rgba(255,255,255, 0.85);
}
  
.title-image{
  width: 100%;
  overflow:hidden;
  position:relative;
  top:-5em;
  margin-bottom:-5em;
  height:55em;
}  

.title-text{
  text-align:left;
  font-size:1.5em;
  position:absolute;  
  top:20%;
}

.title-text strong{
 font-size:1.5em;
}
  
}

.card_pic5 img{
 width:100%; 
}